<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> YNEX - Laravel Bootstrap 5 Premium Admin & Dashboard Template </title>

    <!-- favicon-icn -->
    <link href="img/favicon.ico" rel="icon"/>
    <!-- fonts-css -->
    <link href="css/fonts.css" rel="stylesheet"/>
    <!-- all-min-css -->
    <link href="css/all.min.css" rel="stylesheet"/>
    <!-- style-css -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- media-css -->
    <link href="css/media.css" rel="stylesheet"/>
</head>
<body>
    <div class="panel">
        <div class="side-area">
            <div class="sidebar-header d-flex justify-center item-center">
                <a href="#">
                    <img src="img/desktop-dark.png" alt="logo"/>
                </a>
            </div>
            <div class="side-bar">
                <nav class="navigation">
                    <ul>
                        <li class="slide-category">
                            <span>Main</span>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-house-user"></i>
                                <span>Dashboards<span class="text">12</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">CRM</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Crypto</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Jobs</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">NFT</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Sales</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Analytics</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Projects</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">HRM</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Stocks</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Courses</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Personal</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slide-category">
                            <span>Pages</span>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-regular fa-file"></i>
                                <span>Pages<span class="text blue">New</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="/signup">Sign Up</a>
                                    </li>
                                    <li class="slide">
                                        <a href="/login">Login</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Email</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Empty</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">FAQ's</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">File Manager</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Invoice</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Landing</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Jobs Landing<span class="text blue">New</span></a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Notifications</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Profile</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Reviews</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Teams</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Timeline</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">To Do List</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-list-check"></i>
                                <span>Task<span class="text blue">New</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">Kanban Board</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">List View</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Task Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-fingerprint"></i>
                                <span>Authentication</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">Coming Soon</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Create Password</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Lock Screen</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Reset Password</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Sign Up</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Sign In</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Two Step Verification</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Under Maintenance</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <span>Error</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">401 - Error</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">404 - Error</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">500 - Error</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slide-category">
                            <span>General</span>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-brands fa-elementor"></i>
                                <span>Ui Elements</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">About Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Email</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Empty</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">FAQ's</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">File Manager</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Invoice</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Landing</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Jobs Landing</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Notifications</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Profile</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Reviews</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Teams</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-medal"></i>
                                <span>Utilities</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">About Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Email</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Empty</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">FAQ's</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">File Manager</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-file-waveform"></i>
                                <span>Forms</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">About Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-burst"></i>
                                <span>Advanced Ui</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                            <div class="sub-dropdown">
                                <ul class="sub-menu">
                                    <li class="slide">
                                        <a href="#">About Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Contacts Us</a>
                                    </li>
                                    <li class="slide">
                                        <a href="#">Ecommerce</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="slider">
                            <a href="#" class="dropdown">
                                <i class="fa-solid fa-gift"></i>
                                <span>Widgets<span class="text red">Hot</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slide-category">
                            <span>Web Apps</span>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-tablet-screen-button"></i>    
                                <span>Apps<span class="text blue">New</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-folder-open"></i>
                                <span>Nested Menu</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slide-category">
                            <span>Tables & Charts</span>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-table"></i>
                                <span>Tables<span class="text green">3</span></span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-square-poll-vertical"></i>
                                <span>Charts</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slide-category">
                            <span>Maps & Icons</span>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Maps</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="slider">
                            <a href="#">
                                <i class="fa-solid fa-landmark-dome"></i>
                                <span>Icons</span>
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <header class="main-header">
            <div class="container">
                <div class="header-area d-flex justify-between">
                    <div class="header-left">
                        <div class="menu-icon">
                            <a href="#">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="header-right d-flex item-center">
                        <div class="search-icon  icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-brands fa-sistrix"></i>
                            </a>
                        </div>
                        <div class="country-icon icn-p">
                            <a href="#" class=" icon">
                                <img src="img/french_flag.jpg" alt="flag">
                            </a>
                        </div>
                        <div class="theme-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-regular fa-moon"></i>
                            </a>
                        </div>
                        <div class="cart-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-solid fa-cart-arrow-down"></i>
                            </a>
                        </div>
                        <div class="notification-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-regular fa-bell"></i>
                            </a>
                        </div>
                        <div class="link-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </div>
                        <div class="scanner-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-solid fa-expand"></i>
                            </a>
                        </div>
                        <div class="user-box d-flex item-center icon">
                            <div class="user-img">
                                <a href="#">
                                    <img src="img/user.jpg" alt="user">
                                </a>
                            </div>
                            <div class="user-info">
                                <h6>Json Taylor</h6>
                                <span>Web Developer</span>
                            </div>
                        </div>
                        <div class="setting-icon icn-p">
                            <a href="#" class=" icon">
                                <i class="fa-solid fa-gear"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-area">
            <div class="container">
                <div class="heading-line d-flex justify-between item-center">
                    <div class="w-4">
                        <div class="welcome">
                            <h4>Welcome back, Json Taylor !</h4>
                        </div>
                        <div class="welcome-para">
                            <p>Track your sales activity, leads and deals here.</p>
                        </div>
                    </div>
                    <div class="w-2 d-flex justify-end">
                        <div class="top-btns d-flex">
                            <div class="filter-btn btn">
                                <a href="#">
                                    <button type="button"><i class="fa-solid fa-filter"></i><span>Filters</span></button>
                                </a>
                            </div>
                            <div class="Export-btn btn">
                                <a href="#">
                                    <button type="button">
                                        <i class="fa-solid fa-triangle-exclamation"></i><span>Export</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-area d-flex">
                    <div class="w-9 p-lr">
                        <div class="left-boxes d-flex">
                            <div class="w-4 p-lr">
                                <div class="w-12">
                                    <div class="target-box margin-btm p-20 d-flex item-center">
                                        <div class="content">
                                            <div class="target-h">
                                                <h5>Your target is incomplete</h5>
                                            </div>
                                            <div class="target-p">
                                                <p>You have completed <span style="color:#f5b849">48%</span>of the given target, you can also check your status</p>
                                            </div>
                                            <div class="click">
                                                <a href="#"><u>Click here</u></a>
                                            </div>
                                        </div>
                                        <div class="c-graph" id="chart"></div>
                                    </div>
                                </div>
                                <div class="w-12">
                                    <div class="deals-box margin-btm">
                                            <div class="source-heading d-flex justify-between ph-lr">
                                                <h3>Top Deals</h3>
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </div>
                                            <div class="dealers p-20">
                                                <div class="dealer-info d-flex item-center">
                                                    <div class="dealer-img">
                                                        <img src="img/dealer1.jpg">
                                                    </div>
                                                    <div class="d-name">
                                                        <h5>Michael Jordan</h5>
                                                        <p>michael.jordan@example.com</p>
                                                    </div>
                                                    <div class="d-price">
                                                        <span>$2,893</span>
                                                    </div>
                                                </div>
                                                <div class="dealer-info d-flex item-center">
                                                    <div class="dealer-img">
                                                        <img src="img/dealer2.jpg">
                                                    </div>
                                                    <div class="d-name">
                                                        <h5>Michael Jordan</h5>
                                                        <p>michael.jordan@example.com</p>
                                                    </div>
                                                    <div class="d-price">
                                                        <span>$2,893</span>
                                                    </div>
                                                </div>
                                                <div class="dealer-info d-flex item-center">
                                                    <div class="dealer-img">
                                                        <img src="img/dealer3.jpg">
                                                    </div>
                                                    <div class="d-name">
                                                        <h5>Michael Jordan</h5>
                                                        <p>michael.jordan@example.com</p>
                                                    </div>
                                                    <div class="d-price">
                                                        <span>$2,893</span>
                                                    </div>
                                                </div>
                                                <div class="dealer-info d-flex item-center">
                                                    <div class="dealer-img">
                                                        <img src="img/dealer4.jpg">
                                                    </div>
                                                    <div class="d-name">
                                                        <h5>Michael Jordan</h5>
                                                        <p>michael.jordan@example.com</p>
                                                    </div>
                                                    <div class="d-price">
                                                        <span>$2,893</span>
                                                    </div>
                                                </div>
                                                <div class="dealer-info d-flex item-center">
                                                    <div class="dealer-img">
                                                        <img src="img/dealer1.jpg">
                                                    </div>
                                                    <div class="d-name">
                                                        <h5>Michael Jordan</h5>
                                                        <p>michael.jordan@example.com</p>
                                                    </div>
                                                    <div class="d-price">
                                                        <span>$2,893</span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="w-12">
                                    <div class="profit-graph margin-btm" id="profit-chart">
                                        <div class="source-heading d-flex justify-between ph-lr">
                                            <h3>Profit Earned</h3>
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-8 p-lr">
                                <div class="row">
                                    <div class="w-6">
                                        <div class="customer tl-customer margin-btm p-20">
                                            <div class="card-area d-flex">
                                                <div>
                                                    <span class="bg-color d-flex justify-center item-center">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                </div>
                                                <div class="card-content">
                                                    <div class="counter-box-graph d-flex">
                                                        <div class="counter-box">
                                                            <p>Total Customers</p>
                                                            <h5>1,02,890</h5>
                                                        </div>
                                                        <div class="counter-graph"></div>
                                                    </div>
                                                    <div class="view-due d-flex item-center justify-between">
                                                        <div class="view">
                                                            <a href="#">View All <i class="fa-solid fa-right-long"></i></a>
                                                        </div>
                                                        <div class="due">
                                                            <p>+40%</p>
                                                            <span>this month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-6">
                                        <div class="customer tl-revenue margin-btm p-20">
                                            <div class="card-area d-flex">
                                                <div>
                                                    <span class="bg-color d-flex justify-center item-center">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                </div>
                                                <div class="card-content">
                                                    <div class="counter-box-graph d-flex">
                                                        <div class="counter-box">
                                                            <p>Total Customers</p>
                                                            <h5>1,02,890</h5>
                                                        </div>
                                                        <div class="counter-graph"></div>
                                                    </div>
                                                    <div class="view-due d-flex item-center justify-between">
                                                        <div class="view">
                                                            <a href="#">View All <i class="fa-solid fa-right-long"></i></a>
                                                        </div>
                                                        <div class="due">
                                                            <p>+40%</p>
                                                            <span>this month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-6">
                                        <div class="customer tl-ratio margin-btm p-20">
                                            <div class="card-area d-flex">
                                                <div>
                                                    <span class="bg-color d-flex justify-center item-center">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                </div>
                                                <div class="card-content">
                                                    <div class="counter-box-graph d-flex">
                                                        <div class="counter-box">
                                                            <p>Total Revenue</p>
                                                            <h5>1,02,890</h5>
                                                        </div>
                                                        <!-- <div class="counter-graph"></div> -->
                                                    </div>
                                                    <div class="view-due d-flex item-center justify-between">
                                                        <div class="view">
                                                            <a href="#">View All <i class="fa-solid fa-right-long"></i></a>
                                                        </div>
                                                        <div class="due">
                                                            <p>+40%</p>
                                                            <span>this month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-6">
                                        <div class="customer tl-deals margin-btm p-20">
                                            <div class="card-area d-flex">
                                                <div>
                                                    <span class="bg-color d-flex justify-center item-center">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                </div>
                                                <div class="card-content">
                                                    <div class="counter-box-graph d-flex">
                                                        <div class="counter-box">
                                                            <p>Conversion Ratio</p>
                                                            <h5>1,02,890</h5>
                                                        </div>
                                                        <div class="counter-graph"></div>
                                                    </div>
                                                    <div class="view-due d-flex item-center justify-between">
                                                        <div class="view">
                                                            <a href="#">View All <i class="fa-solid fa-right-long"></i></a>
                                                        </div>
                                                        <div class="due">
                                                            <p>+40%</p>
                                                            <span>this month</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-12">
                                        <div class="revenue margin-btm">
                                            <div class="source-heading d-flex justify-between ph-lr">
                                                <h3>Revenue Deals</h3>
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </div>
                                            <div class="revenue-graph" id="chart-timeline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="w-12 p-lr">
                            <div class="card-table margin-btm">
                                <div class="source-heading d-flex justify-between ph-lr">
                                    <h3>Deals Statistics</h3>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                                <div class="table-l p-20">
                                    <table width="100%" height="310px" border="1" cellspacing="1">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Sales Rep</th>
                                                <th>Category</th>
                                                <th>Mail</th>
                                                <th>Location</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr align="center">
                                                <td>
                                                    <div class="tick">
                                                        <a href="#"><i class="fa-solid fa-square-check"></i></a>
                                                    </div>
                                                </td>
                                                <td>Mayor Kelly</td>
                                                <td>Manufacture</td>
                                                <td>mayorkelly@gmail.com</td>
                                                <td>
                                                    <div class="textcolor">
                                                        <a href="#" style="background-color: #ECF8FE; color:rgba(73, 182, 245, 1)">Germany</a>
                                                    </div>
                                                </td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>
                                                    <div class="dl-icn">
                                                        <a href="#" style="background-color: #E9F8F4;"><i class="fa-solid fa-arrow-down"></i></a>
                                                        <a href="#" style="background-color: #F2EEFC;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <div class="tick">
                                                        <a href="#"><i class="fa-solid fa-square-check"></i></a>
                                                    </div>
                                                </td>
                                                <td>Andrew Garfield</td>
                                                <td>Development</td>
                                                <td>mayorkelly@gmail.com</td>
                                                <td>
                                                    <div class="textcolor">
                                                        <a href="#" style="background-color: #F2EEFC; color:rgba(132, 90, 233, 1)">Canada</a>
                                                    </div>
                                                </td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>
                                                    <div class="dl-icn">
                                                        <a href="#" style="background-color: #E9F8F4;"><i class="fa-solid fa-arrow-down"></i></a>
                                                        <a href="#" style="background-color: #F2EEFC;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <div class="tick">
                                                        <a href="#"><i class="fa-solid fa-square-check"></i></a>
                                                    </div>
                                                </td>
                                                <td>Simon Cowel</td>
                                                <td>Service</td>
                                                <td>mayorkelly@gmail.com</td>
                                                <td>
                                                    <div class="textcolor">
                                                        <a href="#" style="background-color: #FCEDEB; color:rgba(230, 83, 60, 1)">Europe</a>
                                                    </div>
                                                </td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>
                                                    <div class="dl-icn">
                                                        <a href="#" style="background-color: #E9F8F4;"><i class="fa-solid fa-arrow-down"></i></a>
                                                        <a href="#" style="background-color: #F2EEFC;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <div class="tick">
                                                        <a href="#"><i class="fa-solid fa-square-check"></i></a>
                                                    </div>
                                                </td>
                                                <td>Mirinda Hers</td>
                                                <td>Marketing</td>
                                                <td>mayorkelly@gmail.com</td>
                                                <td>
                                                    <div class="textcolor">
                                                        <a href="#" style="background-color: #FEF8EC; color:rgba(245, 184, 73, 1)" >USA</a>
                                                    </div>
                                                </td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>
                                                    <div class="dl-icn">
                                                        <a href="#" style="background-color: #E9F8F4;"><i class="fa-solid fa-arrow-down"></i></a>
                                                        <a href="#" style="background-color: #F2EEFC;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <div class="tick">
                                                        <a href="#"><i class="fa-solid fa-square-check"></i></a>
                                                    </div>
                                                </td>
                                                <td>Jacob Smith</td>
                                                <td>Social Platform</td>
                                                <td>mayorkelly@gmail.com</td>
                                                <td>
                                                    <div class="textcolor">
                                                        <a href="#" style="background-color: #E9F8F4; color:rgba(38, 191, 148, 1)">Singapore</a>
                                                    </div>
                                                </td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>
                                                    <div class="dl-icn">
                                                        <a href="#" style="background-color: #E9F8F4;"><i class="fa-solid fa-arrow-down"></i></a>
                                                        <a href="#" style="background-color: #F2EEFC;"><i class="fa-solid fa-pen-to-square"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-3 p-lr">
                        <div class="right-boxes">
                            <div class="w-12">
                                <div class="source margin-btm">
                                    <div class="source-heading d-flex justify-between ph-lr">
                                        <h3>Deals Status</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="donut-chart" id="chart1">
                                    </div>
                                    <div class="list d-flex">
                                        <div class="w-3 itm-pd">
                                            <span style="color: #869097; font-size: 12px; font-weight: 400;">Mobile</span>
                                            <span>1,624</span>
                                        </div>
                                        <div class="w-3 itm-pd">
                                            <span style="color: #869097; font-size: 12px; font-weight: 400;">Mobile</span>
                                            <span>1,624</span>
                                        </div>
                                        <div class="w-3 itm-pd">
                                            <span style="color: #869097; font-size: 12px; font-weight: 400;">Mobile</span>
                                            <span>1,624</span>
                                        </div>
                                        <div class="w-3 itm-pd">
                                            <span style="color: #869097; font-size: 12px; font-weight: 400;">Mobile</span>
                                            <span>1,624</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-12">
                                <div class="deals margin-btm">
                                    <div class="source-heading d-flex justify-between ph-lr">
                                        <h3>Leads By Source</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="deal-graph" id="deal-chart">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="w-12">
                                <div class="recent margin-btm">
                                    <div class="source-heading d-flex justify-between ph-lr">
                                        <h3>Recent Activity</h3>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                    <div class="recent-graph" id="recent-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

    <script>
        var options = {
          series: [{
          name: 'Net Profit',
          data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
        }, {
          name: 'Revenue',
          data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
        }, {
          name: 'Free Cash Flow',
          data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
        }],
          chart: {
          type: 'bar',
          height: 450
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '40%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
        },
        yaxis: {
          title: {
            text: '$ (thousands)'
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "$ " + val + " thousands"
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#recent-chart"), options);
        chart.render();
    </script>
    <script>

        var options = {
          series: [{
          name: 'series1',
          data: [31, 40, 28, 51, 42, 109, 100]
        }, {
          name: 'series2',
          data: [11, 32, 45, 32, 34, 52, 41]
        }],
          chart: {
          height: 250,
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
        };

        var chart = new ApexCharts(document.querySelector("#deal-chart"), options);
        chart.render();
    </script>
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
    <script>
         var options = {
          series: [50],
          chart: {
          height: 150,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            hollow: {
              size: '50%',
            }
          },
        },
        labels: [''],
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

    <script>
    var options = {
          series: [44, 55, 41, 17, 15],
          chart: {
          width: 380,
          type: 'donut',
        },
        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },
        title: {
          text: 'Gradient Donut with custom Start-angle'
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 150
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart1"), options);
        chart.render();
    </script>

    <script>

var options = {
          series: [ {
          name: 'Net Profit',
          data: [76, 60, 101, 44, 87, 105, 91]
        }],
          chart: {
          type: 'bar',
          height: 195
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Sun', 'Mun', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
        },
        yaxis: {
          title: {
            text: ''
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "$ " + val + " thousands"
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#profit-chart"), options);
        chart.render();
    </script>


    <script>

var options = {
          series: [{
          data: [
            [1327359600000,30.95],
            [1327446000000,31.34],
            [1327532400000,31.18],
            [1327618800000,31.05],
            [1327878000000,31.00],
            [1327964400000,30.95],
            [1328050800000,31.24],
            [1328137200000,31.29],
            [1328223600000,31.85],
            [1328482800000,31.86],
            [1328569200000,32.28],
            [1328655600000,32.10],
            [1328742000000,32.65],
            [1328828400000,32.21],
            [1329087600000,32.35],
            [1329174000000,32.44],
            [1329260400000,32.46],
            [1329346800000,32.86],
            [1329433200000,32.75],
            [1329778800000,32.54],
            [1329865200000,32.33],
            [1329951600000,32.97],
            [1330038000000,33.41],
            [1330297200000,33.27],
            [1330383600000,33.27],
            [1330470000000,32.89],
            [1330556400000,33.10],
            [1330642800000,33.73],
            [1330902000000,33.22],
            [1330988400000,31.99],
            [1331074800000,32.41],
            [1331161200000,33.05],
            [1331247600000,33.64],
            [1331506800000,33.56],
            [1331593200000,34.22],
            [1331679600000,33.77],
            [1331766000000,34.17],
            [1331852400000,33.82],
            [1332111600000,34.51],
            [1332198000000,33.16],
            [1332284400000,33.56],
            [1332370800000,33.71],
            [1332457200000,33.81],
            [1332712800000,34.40],
            [1332799200000,34.63],
            [1332885600000,34.46],
            [1332972000000,34.48],
            [1333058400000,34.31],
            [1333317600000,34.70],
            [1333404000000,34.31],
            [1333490400000,33.46],
            [1333576800000,33.59],
            [1333922400000,33.22],
            [1334008800000,32.61],
            [1334095200000,33.01],
            [1334181600000,33.55],
            [1334268000000,33.18],
            [1334527200000,32.84],
            [1334613600000,33.84],
            [1334700000000,33.39],
            [1334786400000,32.91],
            [1334872800000,33.06],
            [1335132000000,32.62],
            [1335218400000,32.40],
            [1335304800000,33.13],
            [1335391200000,33.26],
            [1335477600000,33.58],
            [1335736800000,33.55],
            [1335823200000,33.77],
            [1335909600000,33.76],
            [1335996000000,33.32],
            [1336082400000,32.61],
            [1336341600000,32.52],
            [1336428000000,32.67],
            [1336514400000,32.52],
            [1336600800000,31.92],
            [1336687200000,32.20],
            [1336946400000,32.23],
            [1337032800000,32.33],
            [1337119200000,32.36],
            [1337205600000,32.01],
            [1337292000000,31.31],
            [1337551200000,32.01],
            [1337637600000,32.01],
            [1337724000000,32.18],
            [1337810400000,31.54],
            [1337896800000,31.60],
            [1338242400000,32.05],
            [1338328800000,31.29],
            [1338415200000,31.05],
            [1338501600000,29.82],
            [1338760800000,30.31],
            [1338847200000,30.70],
            [1338933600000,31.69],
            [1339020000000,31.32],
            [1339106400000,31.65],
            [1339365600000,31.13],
            [1339452000000,31.77],
            [1339538400000,31.79],
            [1339624800000,31.67],
            [1339711200000,32.39],
            [1339970400000,32.63],
            [1340056800000,32.89],
            [1340143200000,31.99],
            [1340229600000,31.23],
            [1340316000000,31.57],
            [1340575200000,30.84],
            [1340661600000,31.07],
            [1340748000000,31.41],
            [1340834400000,31.17],
            [1340920800000,32.37],
            [1341180000000,32.19],
            [1341266400000,32.51],
            [1341439200000,32.53],
            [1341525600000,31.37],
            [1341784800000,30.43],
            [1341871200000,30.44],
            [1341957600000,30.20],
            [1342044000000,30.14],
            [1342130400000,30.65],
            [1342389600000,30.40],
            [1342476000000,30.65],
            [1342562400000,31.43],
            [1342648800000,31.89],
            [1342735200000,31.38],
            [1342994400000,30.64],
            [1343080800000,30.02],
            [1343167200000,30.33],
            [1343253600000,30.95],
            [1343340000000,31.89],
            [1343599200000,31.01],
            [1343685600000,30.88],
            [1343772000000,30.69],
            [1343858400000,30.58],
            [1343944800000,32.02],
            [1344204000000,32.14],
            [1344290400000,32.37],
            [1344376800000,32.51],
            [1344463200000,32.65],
            [1344549600000,32.64],
            [1344808800000,32.27],
            [1344895200000,32.10],
            [1344981600000,32.91],
            [1345068000000,33.65],
            [1345154400000,33.80],
            [1345413600000,33.92],
            [1345500000000,33.75],
            [1345586400000,33.84],
            [1345672800000,33.50],
            [1345759200000,32.26],
            [1346018400000,32.32],
            [1346104800000,32.06],
            [1346191200000,31.96],
            [1346277600000,31.46],
            [1346364000000,31.27],
            [1346709600000,31.43],
            [1346796000000,32.26],
            [1346882400000,32.79],
            [1346968800000,32.46],
            [1347228000000,32.13],
            [1347314400000,32.43],
            [1347400800000,32.42],
            [1347487200000,32.81],
            [1347573600000,33.34],
            [1347832800000,33.41],
            [1347919200000,32.57],
            [1348005600000,33.12],
            [1348092000000,34.53],
            [1348178400000,33.83],
            [1348437600000,33.41],
            [1348524000000,32.90],
            [1348610400000,32.53],
            [1348696800000,32.80],
            [1348783200000,32.44],
            [1349042400000,32.62],
            [1349128800000,32.57],
            [1349215200000,32.60],
            [1349301600000,32.68],
            [1349388000000,32.47],
            [1349647200000,32.23],
            [1349733600000,31.68],
            [1349820000000,31.51],
            [1349906400000,31.78],
            [1349992800000,31.94],
            [1350252000000,32.33],
            [1350338400000,33.24],
            [1350424800000,33.44],
            [1350511200000,33.48],
            [1350597600000,33.24],
            [1350856800000,33.49],
            [1350943200000,33.31],
            [1351029600000,33.36],
            [1351116000000,33.40],
            [1351202400000,34.01],
            [1351638000000,34.02],
            [1351724400000,34.36],
            [1351810800000,34.39],
            [1352070000000,34.24],
            [1352156400000,34.39],
            [1352242800000,33.47],
            [1352329200000,32.98],
            [1352415600000,32.90],
            [1352674800000,32.70],
            [1352761200000,32.54],
            [1352847600000,32.23],
            [1352934000000,32.64],
            [1353020400000,32.65],
            [1353279600000,32.92],
            [1353366000000,32.64],
            [1353452400000,32.84],
            [1353625200000,33.40],
            [1353884400000,33.30],
            [1353970800000,33.18],
            [1354057200000,33.88],
            [1354143600000,34.09],
            [1354230000000,34.61],
            [1354489200000,34.70],
            [1354575600000,35.30],
            [1354662000000,35.40],
            [1354748400000,35.14],
            [1354834800000,35.48],
            [1355094000000,35.75],
            [1355180400000,35.54],
            [1355266800000,35.96],
            [1355353200000,35.53],
            [1355439600000,37.56],
            [1355698800000,37.42],
            [1355785200000,37.49],
            [1355871600000,38.09],
            [1355958000000,37.87],
            [1356044400000,37.71],
            [1356303600000,37.53],
            [1356476400000,37.55],
            [1356562800000,37.30],
            [1356649200000,36.90],
            [1356908400000,37.68],
            [1357081200000,38.34],
            [1357167600000,37.75],
            [1357254000000,38.13],
            [1357513200000,37.94],
            [1357599600000,38.14],
            [1357686000000,38.66],
            [1357772400000,38.62],
            [1357858800000,38.09],
            [1358118000000,38.16],
            [1358204400000,38.15],
            [1358290800000,37.88],
            [1358377200000,37.73],
            [1358463600000,37.98],
            [1358809200000,37.95],
            [1358895600000,38.25],
            [1358982000000,38.10],
            [1359068400000,38.32],
            [1359327600000,38.24],
            [1359414000000,38.52],
            [1359500400000,37.94],
            [1359586800000,37.83],
            [1359673200000,38.34],
            [1359932400000,38.10],
            [1360018800000,38.51],
            [1360105200000,38.40],
            [1360191600000,38.07],
            [1360278000000,39.12],
            [1360537200000,38.64],
            [1360623600000,38.89],
            [1360710000000,38.81],
            [1360796400000,38.61],
            [1360882800000,38.63],
            [1361228400000,38.99],
            [1361314800000,38.77],
            [1361401200000,38.34],
            [1361487600000,38.55],
            [1361746800000,38.11],
            [1361833200000,38.59],
            [1361919600000,39.60],
          ]
        }],
          chart: {
          id: 'area-datetime',
          type: 'area',
          height: 350,
          zoom: {
            autoScaleYaxis: true
          }
        },
        annotations: {
          yaxis: [{
            y: 30,
            borderColor: '#999',
            label: {
              show: true,
              text: 'Support',
              style: {
                color: "#fff",
                background: '#00E396'
              }
            }
          }],
          xaxis: [{
            x: new Date('14 Nov 2012').getTime(),
            borderColor: '#999',
            yAxisIndex: 0,
            label: {
              show: true,
              text: 'Rally',
              style: {
                color: "#fff",
                background: '#775DD0'
              }
            }
          }]
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
          style: 'hollow',
        },
        xaxis: {
          type: 'datetime',
          min: new Date('01 Mar 2012').getTime(),
          tickAmount: 6,
        },
        tooltip: {
          x: {
            format: 'dd MMM yyyy'
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.7,
            opacityTo: 0.9,
            stops: [0, 100]
          }
        },
        };

        var chart = new ApexCharts(document.querySelector("#chart-timeline"), options);
        chart.render();
      
      
        var resetCssClasses = function(activeEl) {
        var els = document.querySelectorAll('button')
        Array.prototype.forEach.call(els, function(el) {
          el.classList.remove('active')
        })
      
        activeEl.target.classList.add('active')
      }
      
      document
        .querySelector('#one_month')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
      
          chart.zoomX(
            new Date('28 Jan 2013').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document
        .querySelector('#six_months')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
      
          chart.zoomX(
            new Date('27 Sep 2012').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document
        .querySelector('#one_year')
        .addEventListener('click', function(e) {
          resetCssClasses(e)
          chart.zoomX(
            new Date('27 Feb 2012').getTime(),
            new Date('27 Feb 2013').getTime()
          )
        })
      
      document.querySelector('#ytd').addEventListener('click', function(e) {
        resetCssClasses(e)
      
        chart.zoomX(
          new Date('01 Jan 2013').getTime(),
          new Date('27 Feb 2013').getTime()
        )
      })
      
      document.querySelector('#all').addEventListener('click', function(e) {
        resetCssClasses(e)
      
        chart.zoomX(
          new Date('23 Jan 2012').getTime(),
          new Date('27 Feb 2013').getTime()
        )
      })
    </script>

    <script>

var options = {
          series: [
          {
            
            
        
            data: [
              {
                x: 'Jan',
                y: [1100, 1900]
              },
              {
                x: 'Feb',
                y: [1200, 1800]
              },
              {
                x: 'Mar',
                y: [900, 2900]
              },
              {
                x: 'Apr',
                y: [1400, 2700]
              },
              {
                x: 'May',
                y: [2600, 3900]
              },
              {
                x: 'Jun',
                y: [500, 1700]
              },
              {
                x: 'Jul',
                y: [1900, 2300]
              },
              {
                x: 'Aug',
                y: [1000, 1500]
              }
            ]
          },
        
          {
           
            data: [
              
            ]
          },
        
          {
            
            data: [
              {
                x: 'Jan',
                y: 1500
              },
              {
                x: 'Feb',
                y: 1700
              },
              {
                x: 'Mar',
                y: 1900
              },
              {
                x: 'Apr',
                y: 2200
              },
              {
                x: 'May',
                y: 3000
              },
              {
                x: 'Jun',
                y: 1000
              },
              {
                x: 'Jul',
                y: 2100
              },
              {
                x: 'Aug',
                y: 1200
              },
              {
                x: 'Sep',
                y: 1800
              },
              {
                x: 'Oct',
                y: 2000
              }
            ]
          },
          {
            
            data: [
              {
                x: 'Jan',
                y: 3300
              },
              {
                x: 'Feb',
                y: 4900
              },
              {
                x: 'Mar',
                y: 4300
              },
              {
                x: 'Apr',
                y: 3700
              },
              {
                x: 'May',
                y: 5500
              },
              {
                x: 'Jun',
                y: 5900
              },
              {
                x: 'Jul',
                y: 4500
              },
              {
                x: 'Aug',
                y: 2400
              },
              {
                x: 'Sep',
                y: 2100
              },
              {
                x: 'Oct',
                y: 1500
              }
            ]
          }
        ],
          chart: {
          height: 150,
          
          animations: {
            speed: 500
          }
        },
        colors: ['#d4526e', '#33b2df', '#d4526e', '#33b2df'],
        dataLabels: {
          
        },
        fill: {
          opacity: [0.24, 0.24, 1, 1]
        },
        forecastDataPoints: {
          count: 2
        },
        stroke: {
          curve: 'straight',
          width: [0, 0, 2, 2]
        },
        
       
        };

        var chart = new ApexCharts(document.querySelector("#min-chart"), options);
        chart.render();
    </script>
    

    <!-- chart-js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>