<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> YNEX - Laravel Bootstrap 5 Premium Admin & Dashboard Template </title>

    <!-- favicon-icn -->
    <link href="img/favicon.ico" rel="icon"/>
    <!-- fonts-css -->
    <link href="../css/fonts.css" rel="stylesheet"/>
    <!-- all-min-css -->
    <link href="../css/all.min.css" rel="stylesheet"/>
    <!-- style-css -->
    <link href="../css/style.css" rel="stylesheet"/>
    <!-- media-css -->
    <link href="../css/media.css" rel="stylesheet"/>
</head>
<body>
    <div class="background d-flex item-center justify-center">
        <div class="form-area">
            <div class="logo align-center">
                <img src="../img/desktop-logo (1).png" alt="logo">
            </div>
            <form method="post" action="signupForm">
                <input type="text" name="name" placeholder="Enter Your Full Name"/>
                <input type="text" name="email" placeholder="Enter Your Email"/>
                <input type="password" name="password" placeholder="Enter ID Password "/>
                <input type="password" name="con_pass" placeholder="Enter ID Password "/>
                <div class="signup-btn align-center">
                    <button type="submit">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>